@model CreateRoleViewModel

@{
    ViewBag.Title = "Tworzenie nowej roli";
}

<div class="card">
    <div class="card-header">@ViewBag.Title</div>
    <div class="card-body">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="RoleName"></label>
                <input asp-for="RoleName" class="form-control" />
                <span asp-validation-for="RoleName" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Stwórz rolę</button>
            <a asp-action="ListRoles" class="btn btn-info">Anuluj</a>
        </form>
    </div>
</div>