@model EditRoleViewModel

@{
    ViewBag.Title = "Edycja roli";
}

<div class="card">
    <div class="card-header">@ViewBag.Title</div>
    <div class="card-body">
        <form method="post" class="mt-3">
            <div class="form-group row">
                <label asp-for="Id" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <input asp-for="Id" class="form-control" disabled/>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="RoleName" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <input asp-for="RoleName" class="form-control" />
                    <span asp-validation-for="RoleName" class="text-danger"></span>
                </div>
            </div>
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group row">
                <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary">Aktualizuj</button>
                    <a asp-action="ListRoles" class="btn btn-info">Anuluj</a>
                </div>
            </div>
        </form>

        <div class="card">
            <div class="card-header">Użytkownicy w tej roli</div>
            <div class="card-body">
                @if(Model.Users.Any())
                {
                    foreach(var user in Model.Users)
                    {
                        <div>@user</div>
                    }
                }
                else
                {
                    <h5 class="card-title">Brak użytkowników.</h5>
                }
            </div>
            <div class="card-footer">
                <a asp-action="EditUsersInRole" asp-route-roleId="@Model.Id" class="btn btn-primary">Dodaj/usuń użytkowników</a>
            </div>
        </div>
    </div>
</div>