@model ArenaViewModel

@{
    ViewBag.Title = "Arena";
}

<div class="card">
    <div class="card-header">@ViewBag.Title</div>
    <div class="card-body">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserName"></label>
                <input asp-for="UserName" class="form-control" placeholder="Wpisz nazwę przeciwnika"/>
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Walcz</button>
        </form>
    </div>
</div>