body {
    background-color: gray;
}

.navbar {
    border-radius: 5px;
    margin: 20px 0px;
}

.progress {
    position: relative;
}

.progress span {
    position: absolute;
    display: block;
    width: 100%;
    color: black;
}

ion-icon {
    display: inline-block;
    vertical-align: bottom;
    height: 1.2em;
    font-size: 1.2em;
}